body{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0px ;
    padding: 0px;
    background-color: grey;
}
.container{
    width: 60%;
    margin-right: 20%;
    margin-left: 20%;
}
header{
    color: red;
    font-weight:bold;
}
header #brand{
    text-align: center;
    font-weight: bold;
    padding: 0px;
    float: left;
    position: relative;
    z-index: 2;
    
    
}
nav {
    float: right;
    padding: 0;
    margin-top: 10px;
    
}
nav button{
    position: relative;
    background-color: red;
    height: 30px;
    width: 100px;
    border: none;
    margin-right: 10px;
    z-index: 2;
}
nav a{
    color: #fff;
    font-weight: bolder;
    font-size: 16px;
    text-decoration: none;
}
#showcase{
    background-image: url('../cheatsheet/back.jpg');
    padding: 20%;
    text-align: center;
}
#showcase .container h3{
    position: relative;
    color: #fff;
    z-index: 2;
} 
#showcase::after{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    background-color: rgba(0,0,0,0.6);
}
button{
    background-color: red;
    height: 30px;
    position: relative;
    z-index: 2;
    border: none;
    margin-right: 10px;
    padding-left: 10px;
    padding-right: 10px;
}
button a{
    text-decoration: none;
    color: #fff;
}
#main{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    background-color: #333;
    position: relative;
    z-index: 2;
}
#main .current{
    border-bottom: red 3px solid;
}
#main #box1{
    
    margin-left: 10%;
    margin-right: 10%;
    
    
}

#main #box2{
    
    margin-left: 10%;
    margin-right: 10%;
}
#main #box3{
    
    margin-left: 10%;
    margin-right: 10%;
}
#main a{
    text-decoration: none;
    text-align: center;
    font-size: 16px;
    font-weight: bolder;
    color:#fff;

}

#case h3,button{
    float: left;
    width: 50%;
}
#case{
    margin-top: 20px;
    
}
aside{
    float: right;
    width: 45%;
    margin-bottom: 20px;
}
.footer {
	max-width: 70%;
	margin: 1rem auto;
	overflow: auto;
}

.footer,.footer a {
	color: #999;
	font-size: 0.9rem;
}

.footer p {
	margin-bottom: 1.5rem;
}

.footer .footer-cols {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	grid-gap: 2rem;
}

.footer li {
	line-height: 1.9;
}

.footer .lang-select {
	margin-top: 2rem;
	color: #999;
	background-color: #000;
	background-image: none;
	border: 1px solid #333;
	padding: 1rem 1.2rem;
	border-radius: 5px;
}
.footer .footer-cols {
    grid-template-columns: repeat(2, 1fr);
}