body{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0px ;
    padding: 0px;
    background-color: grey;
}
.container{
    width: 60%;
    margin-right: 20%;
    margin-left: 20%;
}
header{
    color: red;
    font-weight:bold;
}
header #brand{
    text-align: center;
    font-weight: bold;
    padding: 0px;
    float: left;
    position: relative;
    z-index: 2;
    
    
}
nav {
    float: right;
    padding: 0;
    margin-top: 10px;
    
}
nav button{
    position: relative;
    background-color: red;
    height: 30px;
    width: 100px;
    border: none;
    margin-right: 10px;
    z-index: 2;
}
nav a{
    color: #fff;
    font-weight: bolder;
    font-size: 16px;
    text-decoration: none;
}
#showcase {
    position: relative;
    background-image: url('assets/back1.jpg');
    background-size: cover;
    background-position: center;
    padding: 20%;
    text-align: center;
    color: white;
}
#showcase .container h3{
    position: relative;
    color: #fff;
    z-index: 2;
} 
#showcase::after{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    background-color: rgba(0,0,0,0.6);
}
button{
    background-color: red;
    height: 30px;
    position: relative;
    z-index: 2;
    border: none;
    margin-right: 10px;
    padding-left: 10px;
    padding-right: 10px;
}
button a{
    text-decoration: none;
    color: #fff;
}
#main{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    background-color: #333;
    position: relative;
    z-index: 2;
    
}
#main .current{
    border-bottom: red 3px solid;
}
#main #box1{
    
    margin-left: 10%;
    margin-right: 10%;
    
    
}

#main #box2{
    
    margin-left: 10%;
    margin-right: 10%;
}
#main #box3{
    
    margin-left: 10%;
    margin-right: 10%;
}
#main a{
    text-decoration: none;
    text-align: center;
    font-size: 16px;
    font-weight: bolder;
    color:#fff;

}

#case h3{
    float: left;
    font-size: 20px;
    padding-right:20px;
}
#case button{
    margin-top: 15px;
}
table{
    width: 100%;
    margin-top: 2rem;
    border-collapse: collapse;
    border-spacing:0;
    
}
table thead th{
    text-transform: uppercase;
    padding: 0.8rem;
    
}

table tbody tr td {
    padding: 0.8rem 1.2rem;
    text-align: center;
}
table tbody tr td:first-child{
    text-align: left;
}

table tbody tr:nth-child(odd){
    background-color: #222;
    color: #fff;
}



